<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要跟mapper名一致-->
<mapper namespace="com.pn.mapper.RoleAuthMapper">
    <delete id="removeRoleAuthByRid">
        delete from role_auth where role_id = #{roleId}
    </delete>

    <select id="findAuthIdsByRid" resultType="integer">
        select auth_id from role_auth where role_id = #{roleId}
    </select>

    <insert id="insertRoleAuth">
        insert into role_auth values(null,#{roleId},#{authId})
    </insert>

</mapper>




